<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ocrmintdemo"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.ocrmintdemo.ReceiptScannerDemo"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="AddTransactionActivity"
            android:label="@string/action_addtransaction" >            
        </activity>
        <activity
            android:name="CapturedScreen"
            android:label="Captured Screen" >            
        </activity>
        <activity
            android:name="LoggedTransaction"
            android:label="Logged Transaction" >            
        </activity>
        <activity 
            android:name=".LoggedTranslucent" 
            android:theme="@android:style/Theme.Translucent.NoTitleBar">		
		</activity>
		<activity
            android:name="RecentPlaces"
            android:label="Recently Visited" >            
        </activity>
        <activity
            android:name="Splash"
            android:label="Mint" >            
        </activity>
    </application>

</manifest>
